.trapper{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 250px;
  }
  .trapper .dynamic-texts{
    margin-left: 5px;
    height: 20px;
    line-height: 25px;
    /* overflow: hidden; */
  }
  .dynamic-texts li{
    list-style: none;
    position: relative;
    top: 0;
    animation: slide 15s steps(8) infinite;
  }
  
  @keyframes slide {
    100%{
      top: -90px;
    }
  }
  .dynamic-texts li span{
    position: relative;
    line-height: 15px;
  }
  .dynamic-texts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    animation: typing 8s steps(8) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 200px);
    }
    100%{
      left: 0;
    }}
  